/* Global Reset */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    min-height: 100%;
}

.anton-regular {
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
  }

.image-container {
    height:auto;
    width: 100%;
    display: flex;
    justify-content: center;
    /*min-height: 100vh; 
    background-repeat: no-repeat;
    background-position: center top; /* Align to top center */
    /*animation: fade-images 50s infinite;
    transition: background-image 1s ease-in-out;
    position: relative;*/
}

#animated-image {
    display: block;
    width: 100%;
    height: auto;
    animation: fade-images 30s infinite;
    transition: content 2s ease-in-out;
}

/* Keyframes for Image Cycling */
@keyframes fade-images {
    0% {content: url('OliPhotoshop.png');}
    15% {content: url('OliPhotoshop.png');}
    20% {content: url('PedroPhotoshop1.png');}
    35% {content: url('PedroPhotoshop1.png');}
    40% {content: url('RaquelePhotoshop1.png');}
    55% {content: url('RaquelePhotoshop1.png');}
    60% {content: url('SaraPhotoshop2.png');}
    75% {content: url('SaraPhotoshop2.png');}
    80% {content: url('MaranhaPhotshop.png');}
    100% {content: url('MaranhaPhotshop.png');}
}

.text-block-down {
    width: 100%; /* Make the block full width */
    background-color: #30302f; /* Light gray background color (adjust as needed) */
    padding: 20px; /* Add some padding around the text */
    box-sizing: border-box; /* Include padding in width calculation */
    text-align: center; /* Center the text */
    color: white;
    text-shadow: 1px 1px 2px #b33232; /* Darker text shadow */
    font-family: "Anton", serif; /* Example font stack */
}
/* PC-Specific Behavior */
@media screen and (min-width: 1000px) {
    #animated_image{
        width: 100%;
    }
    body {
        overflow-y: auto; /* Enable vertical scrolling on PC */
        height: auto;
    }
    .text-block-down {
        text-align: left;
        min-height: 30vh; /* Extend to bottom on mobile */
        display: flex; /* Use flexbox for vertical alignment */
        flex-direction: column;
        justify-content: center; /* Vertically center content */
        font-size: 3em;
        line-height: 0.2;
    }
}

/* Mobile Optimization */
@media screen and (max-width: 999px) {
    #animated_image {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    body {
        overflow-y: hidden; /* Disable vertical scrolling on mobile */
    }

    .text-block-up {
        width: 100%; /* Make the block full width */
        background-color: #30302f; /* Light gray background color (adjust as needed) */
        padding: 20px; /* Add some padding around the text */
        box-sizing: border-box; /* Include padding in width calculation */
        text-align: center; /* Center the text */
        height: 12vh;
        color: white;
        font-size: 0.5em;
        line-height: 0.2;
        text-shadow: 1px 1px 2px #b33232; /* Darker text shadow */
        font-family: "Anton", serif; /* Example font stack */
    }

    .text-block-down {
        text-align: left;
        height: 12vh; /* Extend to bottom on mobile */
        display: flex; /* Use flexbox for vertical alignment */
        flex-direction: column;
        justify-content: center; /* Vertically center content */
        font-size: 0.5em;
        line-height: 0.2;
    }
}
